aiohttp = []
aiosignal = []
async-timeout = []
attrs = []
blinker = []
charset-normalizer = []
click = []
colorama = []
pycord = []  # Replace "discord" with "pycord" here
dnspython = []
flask = []
frozenlist = []
idna = []
itsdangerous = []
jinja2 = []
markupsafe = []
multidict = []
pymongo = []
werkzeug = []
yarl = []
